<form ng-submit="submit()" name="register" class="form-signin" novalidate>
	<h1 class="form-signin-heading text-muted">Register</h1>
	<input ng-model="email" name="email" type="email" class="form-control" placeholder="Email address" required> 
	<p class="help-block" ng-show="register.email.$dirty && register.email.$invalid">Please enter a proper email.</p>
	<input ng-model="password" name="password" type="password" class="form-control" placeholder="Password" required>
	<input ng-model="password_confirm" name="password_confirm" type="password" class="form-control" validate-equals="password"  placeholder="Confirm Password"> 
	<p class="help-block" ng-show="register.password_confirm.$dirty && register.password_confirm.$invalid">Please match the password.</p>
	<button ng-disabled="register.$invalid" class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
</form>
